<%= form_with model: @consultation do |form| %>

    <div class="field">
        <div class="field_type">
            <div class="field_type_top">
                <h3>診察希望内容</h3>
                <small>必須</small>
            </div>
            <div class="field_type_body">
                
                <h4><i class="fa fa-edit fa-lg"></i>診察希望内容を選択してください</h4>
                <%= form.radio_button :visit_type, 1, class: "radio_btn" %>
                <%= form.label '歯科点検', for: 'consultation_visit_type_1' %>
                <%= form.radio_button :visit_type, 2, class: "radio_btn" %>
                <%= form.label '歯がしみる', for: 'consultation_visit_type_2' %>
                <%= form.radio_button :visit_type, 3, class: "radio_btn" %>
                <%= form.label '親知らずの抜歯', for: 'consultation_visit_type_3' %>
                <%= form.radio_button :visit_type, 4, class: "radio_btn" %>
                <%= form.label '虫歯・歯周病予防', for: 'consultation_visit_type_4' %>
                <%= form.radio_button :visit_type, 5, class: "radio_btn" %>
                <%= form.label 'ホワイトニング', for: 'consultation_visit_type_5' %>
                <%= form.radio_button :visit_type, 6, class: "radio_btn" %>
                <%= form.label 'インプラント施工', for: 'consultation_visit_type_6' %>
            </div>
        </div>   

        <div class="field_visit_date">
            <div class="field_visit_date_top">
                <h3>予約日時</h3>
                <small>必須</small>
            </div>
            <div class="field_visit_date_body">
                <h4><i class="fas fa-calendar-alt fa-lg"></i>日付を選択してください</h4>
                <%= form.hidden_field :visit_date, value: '' %>

                <%# ここからsimple_calendar機能 %>
                <%= month_calendar do |date| %>
                    <%= date.strftime("%-m/%-d") %><br />
                <% end %>
                <%# ここまでsimple_calendar機能 %>
            </div>
        </div>

        <div class="field_visit_at_body">
            <h4><i class="fas fa-clock fa-spin fa-lg"></i>時間を選択してください</h4>
            <%= form.radio_button :visit_at, '9:00', class: "radio_btn", id: '9:00〜' %>
            <%= form.label '9:00〜', for: '9:00〜' %>
            <%= form.radio_button :visit_at, '9:30', class: "radio_btn", id: '9:30〜' %>
            <%= form.label '9:30〜', for: '9:30〜' %>
            <%= form.radio_button :visit_at, '10:00', class: "radio_btn", id: '10:00〜' %>
            <%= form.label '10:00〜', for: '10:00〜' %>
            <%= form.radio_button :visit_at, '10:30', class: "radio_btn", id: '10:30〜' %>
            <%= form.label '10:30〜', for: '10:30〜' %>
            <%= form.radio_button :visit_at, '11:00', class: "radio_btn", id: '11:00〜' %>
            <%= form.label '11:00〜', for: '11:00〜' %>
            <%= form.radio_button :visit_at, '11:30', class: "radio_btn", id: '11:30〜' %>
            <%= form.label '11:30〜', for: '11:30〜' %>
            <%= form.radio_button :visit_at, '12:00', class: "radio_btn", id: '12:00〜' %>
            <%= form.label '12:00〜', for: '12:00〜' %>
            <%= form.radio_button :visit_at, '15:00', class: "radio_btn", id: '15:00〜' %>
            <%= form.label '15:00〜', for: '15:00〜' %>
            <%= form.radio_button :visit_at, '15:30', class: "radio_btn", id: '15:30〜' %>
            <%= form.label '15:30〜', for: '15:30〜' %>
            <%= form.radio_button :visit_at, '16:00', class: "radio_btn", id: '16:00〜' %>
            <%= form.label '16:00〜', for: '16:00〜' %>
            <%= form.radio_button :visit_at, '16:30', class: "radio_btn", id: '16:30〜' %>
            <%= form.label '16:30〜', for: '16:30〜' %>
            <%= form.radio_button :visit_at, '17:00', class: "radio_btn", id: '17:00〜' %>
            <%= form.label '17:00〜', for: '17:00〜' %>
            <%= form.radio_button :visit_at, '17:30', class: "radio_btn", id: '17:30〜' %>
            <%= form.label '17:30〜', for: '17:30〜' %>
            <%= form.radio_button :visit_at, '18:00', class: "radio_btn", id: '18:00〜' %>
            <%= form.label '18:00〜', for: '18:00〜' %>
            <%= form.radio_button :visit_at, '18:30', class: "radio_btn", id: '18:30〜' %>
            <%= form.label '18:30〜', for: '18:30〜' %>
        </div>

        <div class="field_cliant_info">
            <div class="field_cliant_info_top">
                <h3>受診者の情報</h3>
            </div>
            <div class="field_cliant_info_body">
                <h4>受診される方（ご本人）についてお知らせください</h4>
                <table border="1">
                    <tr class="cliant_name">
                        <th>
                            <b>お名前</b>
                            <small>必 須</small>
                        </th>
                        <td class="name_form">
                            <div class="chara_china">
                                <div class="last_name">
                                    <%= form.label '姓　' %>
                                    <%= form.text_field :name, :size=>"15", placeholder: "例：山田" %>
                                </div>
                                <div class="first_name">
                                    <%= form.label '名　' %>
                                    <%= form.text_field :name, :size=>"15", placeholder: "例：太郎"  %>
                                </div>
                            </div>
                            <div class="chara_japan">
                                <div class="last_name">
                                    <%= form.label 'せい' %>
                                    <%= form.text_field :name, :size=>"15", placeholder: "例：やまだ" %>
                                </div>
                                <div class="first_name">
                                    <%= form.label 'めい' %>
                                    <%= form.text_field :name, :size=>"15", placeholder: "例：たろう" %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="cliant_phone_number">
                        <th>
                            <b>電話番号</b><small>どちらか必須</small>
                            <p>※確認事項がある場合は、<br>ご入力頂いた電話番号に<br>連絡させて頂く場合がございます。</p>
                        </th>
                        <td>
                            <div class="cell_phone">
                                <div class="devise_name">
                                    <%= form.label '携帯電話' %>
                                </div>
                                <div class="number_form"> 
                                    <%= form.text_field :cell_number, :size=>"40px", placeholder: "例：09012345678（-は不要）" %>
                                </div>
                            </div>
                            <div class="tel_phone">
                                <div class="devise_name">
                                    <%= form.label '固定電話' %>
                                </div>
                                <div class="number_form">
                                    <%= form.text_field :tel_number, :size=>"40px", placeholder: "例：0123456789（-は不要）" %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="cliant_email">
                        <th>
                        <b>メールアドレス</b>
                        <small>必須</small>
                        </th>
                        <td>
                            <div class="address_form">
                                <%= form.email_field :email, :size=>"40px", placeholder: "例：haishayoyaku@yoyaku.com" %>
                            </div>
                            <p>※ドメイン指定受信を設定されている方は、<br>下記ドメインからのメールを受信できる様に設定を<br>お願いします。<br>@haisha-yoyaku.jp<br>
                            ※こちらからのメールアドレスに予約内容が送信されます。
                        </td>
                    </tr>
                    <tr class="cliant_birthday">
                        <th>
                        <b>生年月日</b><small>必須</small>
                        </th>
                        <td>
                            <div>
                                <%= raw sprintf(form.date_select(:birthday,
                                                            start_year:        1940,
                                                            end_year:          Time.current.year, use_month_numbers: true,
                                                            date_separator:    '%s'),
                                                            '年', '月') + '日' %>
                            </div>
                        </td>
                    </tr>
                    <tr class="cliant_sex">
                        <th>
                        <b>性別</b><small>必須</small>
                        </th>
                        <td>
                            <div>
                                <%= form.radio_button :sex, 1 %>
                                <%= form.label :sex_1, "男" %>
                                <%= form.radio_button :sex, 2 %>
                                <%= form.label :sex_2, "女" %>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="caution">
            <p>※無断キャンセル・不正等があった場合、サービスの停止・制限を行うことがあります。</p>
            <p>※利用者様へご連絡がつかない場合、無断キャンセルと同様の扱いとなることがあります。</p>

        <div class="confirm_btn">
            <%= form.submit "予約を確定する" %>
        </div>

<% end %>

<script>
  $(document).on('turbolinks:load', function() {
    $('.day').click(function() {
      $('.day_selected').removeClass('day_selected');
      $(this).addClass('day_selected');
      $('#consultation_visit_date').val($(this).data('day'))

    });
  });
</script>
